*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page
{
    background-color: #fff;
}

.container
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

}

.menu__list
{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    height: 50px;
}

.menu__list-item,
.menu__list-item_higlighted
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu__list-link,
.menu__list-link_highlighted
{
    font: 19px/32px Georgia;
    text-decoration: none;
    color: #333;
    padding-top: 1px;
}

.menu__list-item-inner
{
    display: flex;
    align-items: center;
    padding: 0 21px;
}

.menu__list-item_higlighted
{
    background-color: #15a98c;
}

.menu__list-link_highlighted
{
    color: #f5f5f5;
}

.icon-img
{
    margin-right: 10px;
}

.icon-img_shifted
{
    margin-left: -3px;
    padding-right: 10px;
}


.afterheader
{
    background: url(../images/background.png), url(../images/background-color.png) left top;
    background-repeat: no-repeat;
    background-position-x: -8px;   
}

.header__inner
{
    display: flex;
    justify-content: flex-start;
    padding-top: 210px;
}

.person__img
{
    border-radius: 5px;
    margin-right: 60px;
}

.quote-title
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quote
{   
    box-sizing: border-box;
    width: 570px;
    margin-top: 25px;
    padding-left: 3px;
}

.quote__text
{
    font: italic 28px/42px Georgia;
    color: #fff;
}

.quote__author
{
    font: 600 16px/46px Open Sans;
    color: #f5f5f5;
    padding-left: 3px;
}

.title-name
{
    font: 700 48px Open Sans;
    margin-top: 68px;
    box-sizing: content-box;
    color: #333;
    padding-left: 4px;
}

.about-wrapper
{
    display: flex;
    justify-content: flex-start;
}

.short-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 330px;
    margin-top: 49px;
}

.about__list
{
    font-size: 19px;
    line-height: 36px;
    font-family: "Georgia", serif;
    color: #555;
    margin-bottom: 37px;
}

.about__list + .about__list
{
    margin-bottom: 0;
}

.about__items
{
    font-size: 19px;
    color: #555;
    font-family: "Georgia", sans-serif;
    padding-inline-start: 21px;
}

.about__title
{
    font-size: 24px;
    line-height: 24px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
    padding: 0;
    border: 0;
}

.about__list-item
{
    font-size: 19px;
    height: 36px;
    line-height: 1;
    font-family: "Georgia", sans-serif;
    margin: 0;
    padding-inline-start: 0
}

.main-info
{
    width: 570px;
    margin-left: 60px;
}

.border-line
{
    box-sizing: content-box;
    border: 3px solid #0db796;
    border-radius: 3px;
    width: 54px;
    margin-top: 20px;
    background-color: #0db796;
}

.about-text__text
{
    font: 19px/32px Georgia;
    margin-top: 8px;
    color: #555;
    width: 570px;
}

.subtitle
{
    font: 400 36px/42px Open Sans;
    margin: 42px 0 0 -2px;
    color: #333;
}

.about-text__text-subtitle
{
    font: 19px/32px Georgia;
    margin-top: 15px;
    color: #555;
    width: 570px;
}

.contacts__link_wrapper
{
    display: flex;
    justify-content: flex-start;
    margin-left: 390px;
    margin-top: 27px;
}

.contacts__link
{
    font: 19px/34px Georgia;
    text-decoration-color: #15a98b;
    text-decoration-thickness: 0.109em;
    text-underline-offset: 1px;
    color: #15a98b;
}

.contacts__link:after
{
    font: 19px/34px Georgia;
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
    content: " \2192";
    color: #15a98b;
}

.films-container
{
    background-color: #f9f9f9;
    margin-top: 57px;
}

.films-container__wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

.films-container__header
{
    font: 400 36px/42px Open Sans;
    padding-top: 35px;
    color: #333;
}


.films-list
{
    display: flex;
    padding-top: 33px;
    list-style-type: none;
}

.film
{
    display: flex;
    flex-direction: column;
    
}

.films-list__item + .films-list__item
{
    padding-left: 19px;
}

.film__photo,
.film__photo_shifted
{
    max-width: 286px;
    min-height: 190px;
    border-radius: 5px;
}

.film__photo_shifted
{
    padding-left: 1px;
}

.film__name,
.film__name_shifted
{
    font: 700 22px/32px Open Sans;
    margin-top: 23px;
    color: #333;
    margin-left: -1px;
}

.film__name_shifted
{
    box-sizing: border-box;
    padding-left: 2px;
}

.film__description
{
    box-sizing: border-box;
    margin-top: 17px;
    line-height: 28px;
    color: #555;
    font-family: "Georgia";
    padding: 0 1px;
}

.films-container__button
{
    display: flex;
    justify-content: center;
    margin-top: 54px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.films-container__button-link
{
    font: 19px/32px Georgia;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
    color: #f5f5f5;
}

.films-container__button-link:active 
{
    background-color: #098d71; /* Цвет кнопки при нажатии */
}
.films-container__button-link:hover 
{
	background-color: #098d71; /* Цвет кнопки при наведении курсора */
}

.form-wrapper
{
    margin: 45px auto 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    line-height: 42px;
}

.form-title
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 9px;
}


.form-title__line
{
    width: 200px;
    size: 1px;
    padding-left: 10px;
}

.form-title__text
{
    font: 300 36px/42px Open Sans;
    box-sizing: content-box;
    padding: 0px 25px;
}

.form
{
    margin-top: 68px;
    margin: 68px auto 0 auto;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form__list
{
    list-style-type: none;
}

.form__item
{
    display: flex;
    flex-direction: column;
}

.form__select-name
{
    font: 400 20px/32px "Open Sans";
    color: #333;
}

.label
{
    font: 400 20px/32px "Open Sans";
    margin-bottom: 3px;
    color: #333;
}

.label::after
{
    content: " *";
    color: red;
}

.label_email
{
    margin-top: 24px;
}

.form__select
{
    margin-top: 15px;
}

.label_select::after
{
    content: "";
}

.form__field
{
    border: 2px solid #c9c9c9;
    height: 50px;
    padding-left: 20px;
    border-radius: 3px;
}

.form__field:focus
{
    outline: none;
    border: 2px solid #15a98c;  
}

.form__field:active
{
    outline: none;
    border: 2px solid #15a98c;
}

.form__select-country
{
    font: 400 18px/32px "Open Sans";
    margin-top: 4px;
    box-sizing: border-box;
    appearance: none;
    padding-left: 16px;
    height: 50px;
    width: 540px;
    color: #555;
    border-radius: 3px;
    border: 2px solid #a6a6a6;
    background: url('../images/arrow_down.png') no-repeat right center;
    background-position-x: 498px;
    cursor: pointer;
}

.form__select-country:focus
{
    outline: none;
    border: 2px solid #15a98c;
}

.form__radio
{
    font: 400 20px/32px "Open Sans";
    margin-top: 41px;
    color: #333;
}

.label_radio::after
{
    content: "";
}

.form__radio-wrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.form__gender-item[type="radio"]
{
    margin-top: 4px;
    margin-left: -1px;
    margin-right: 0px;
    appearance: none;
    border: none;
    width: 17px;
    height: 17px;
    outline: none;
    cursor: pointer;
    background: url(../images/radio.png) left center no-repeat;
    background-size: 17px;
}

.form__gender-item[type="radio"]:checked
{
    background: url(../images/radio_checked.png) left center no-repeat;
}

.form__gender-item-info
{
    font: 400 18px/40px "Open Sans";
    color: #333;
    padding-left: 5px;
    margin-right: 41px;
}


.submit-container__button
{
    display: flex;
    justify-content: flex-start;
    margin-top: 42px;
}

.submit-container__button-link
{
    font: 19px/32px "Georgia";
    appearance: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #15a98c;
    color: #f5f5f5;
}

.label_textarea
{
    line-height: 36px;
}

.form__textarea
{
    margin-top: 22px;
}

.form__textarea-title
{
    font: 400 20px/32px "Open Sans";
    color: #333;
}


.form__textarea-field
{
    font: 400 18px/32px "Open Sans";
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    height: 150px;
    width: 540px;
    resize: none;
    color: #555;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    cursor: text;
}

.form__textarea-field:active
{
    outline: none;
    border: 2px solid #15a98c;
}

.form__textarea-field:focus
{
    outline: none;
    border: 2px solid #15a98c;
}


.submit-container__button-link:active 
{
    background-color: #098d71; /* Цвет кнопки при нажатии */
}
.submit-container__button-link:hover 
{
	background-color: #098d71; /* Цвет кнопки при наведении курсора */
}

.footer
{
    font: 16px/32px "Georgia";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 70px;
    background-color: #f9f9f9;
    color: #555;
}

.footer__text
{
    padding-right: 20px;
    padding-bottom: 5px;
}

.footer__text::before
{
    content: "\00A9";
}

