*
{
    margin: 0;
    padding: 0;
}

.page
{
    background-color: #fff;
}

.container
{
    max-width: 1000px;
    margin-left: 460px;
    margin-right: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.photo
{
    width: 330px;
    height: 350px;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.photo__img
{
    position: absolute;
    left: -173px;
    bottom: -64px;
    border-radius: 5px 5px;
    z-index: 0;
}

.photo__background
{
    position: absolute;
    z-index: 2;
}

.header__inner
{
    height: 350px;
    margin: 100px 0 0 0;
}

.quote
{
    position: relative;
    width: 570px;
    float: right;
    margin-top: 50px;
}

.quote__text
{
    margin-top: -22px;
    padding: 0 64px 0 60px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia", sans-serif;
}

.quote__author
{
    margin-top: 2px;
    padding-left: 63px;
    font-size: 16px;
    line-height: 42px;
    color: #333;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.about
{
    margin-top: 50px;
}

.short-info
{
    float: left;
    width: 330px; /*чтобы было обтекание справа*/
}

.about__list
{
    font-size: 19px;
    line-height: 36px;
    font-family: "Georgia", serif;
    color: #555;
    margin-bottom: 37px;
}

.about__items
{
    font-size: 19px;
    color: #555;
    font-family: "Georgia", sans-serif;
    padding-inline-start: 21px;
    display: block;
}

.about__title
{
    font-size: 24px;
    line-height: 24px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 24px;
    padding: 0;
    border: 0;
}

.about__list-item
{
    font-size: 19px;
    height: 36px;
    line-height: 1;
    font-family: "Georgia", sans-serif;
    margin: 0;
    padding-inline-start: 0
}

.main-info
{
    float: left;
    width: 570px;
    margin-left: 60px;
}

.title
{
    margin-top: -17px;
    box-sizing: content-box;
    vertical-align: text-top;
    font-size: 48px;
    color: #333;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    height: 61px;
    padding-left: 4px;
}

.border-line
{
    box-sizing: content-box;
    border: 3px solid #0db796;
    border-radius: 3px;
    width: 54px;
    margin-top: 24px;
    background-color: #0db796;
}

.about-text__text
{
    margin-top: 44px;
    font-size: 19px;
    line-height: 32px;
    color: #555;
    font-family: "Georgia", sans-serif;
    width: 570px;
}

.subtitle
{
    margin: 42px 0 0 -3px;
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.about-text__text-subtitle
{
    margin-top: 15px;
    font-size: 19px;
    line-height: 32px;
    color: #555;
    font-family: "Georgia", sans-serif;
    width: 570px;
}

.clear
{
    clear: both;
}

.contacts__link
{
    position: relative;
    float: right;
    width: 570px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia", sans-serif;
    display: inline-block;
    margin: 38px auto 0 0;
    padding-right: 4px;
}

.contacts__link:after
{
    content: "\2192";
    display: inline-block;
    position: absolute;
    font-size: 11px;
    line-height: 34px;
    color: #15a98b;
    left: 123px;
    font-family: "Georgia", sans-serif;
}



